.DS_Store
.idea
*~
*.dat
*.eld
*.log
*.elc
.lsp-session-v1
.emacs.desktop
tmp*
recentf
# dir
rime/
elpa/
eshell/
transient/
auto-save-list/
history/
.cache/
.local/
.local/rime/user.yaml
.local/rime/installation.yaml
/bookmarks
/org-roam.db
/eglot-eclipse-jdt-cache/
/eln-cache/
/.personal.el
